body {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #020229;
    font-size: 1.2em;
}

h1 {
    margin-top: 1em; 
    margin-bottom: 0.1em; 
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
}

.modal-body {
    position: relative;
    width: 350px;
    height: 150px;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8); 
    transform: translate(-50%, -70%); 
    border-radius: 5px; 
}

#msg {
    padding-top: 40px;  
    font-size: 20px; 
}

.modal-btn {
    background-color: #2a54e0; 
    color: white; 
    padding: 10px 18px; 
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    border-radius: 7px; 
    width: 40%; 
    outline: none; 
    font-size: 15px; 
}

.modal-btn:hover {
    background-color: #0930b3;
    color: white;
}

.hide {
    display: none; 
}